<!-- <div class="row">
    <div class="col-10">
        <ng-content></ng-content>
    </div>
    <div class="col-2">
        <button class="btn btn-success">Start</button>
        <button class="btn btn-danger">End</button>
    </div>
    
</div> -->
<div class="box">
    <div>
        <app-side-nav></app-side-nav>
    </div>
    <div class="brand">Roastie</div>
    <div class="push">
        <button (click)="startTimer()" class="btn btn-success buttonOwn">Start</button>
        <button (click)="endTimer()" class="btn btn-danger buttonOwn">End</button>
        <button (click)="resetTimer()" class="btn btn-dark buttonOwn">Reset</button>

    </div>
</div>

