<div class="archivItem flexRowCC">
    <div class="name">
        {{archivItem.name}}
    </div>

    <div class="push">
        <button class="btn btn-dark buttonOwn" (click)="onClickShow()"><fa-icon [icon]="faEye" class="fa-lg"></fa-icon></button>
        <button class="btn btn-dark buttonOwn" (click)="onClickPush()"><fa-icon [icon]="faAdd" class="fa-lg"></fa-icon></button>
        <button class="btn btn-dark buttonOwn"><fa-icon [icon]="faTrash" class="fa-lg"></fa-icon></button>
    </div>
</div>
