<div class="box">
    <div class="brand"> <a class="brandLink" routerLink="/start">Roastie</a> </div>
    <div class="push iconBox">
        
        <a routerLink="/roasting" class="icon"><fa-icon [icon]="faCoffee" class="fa-lg"></fa-icon></a>
        <a routerLink="/archiv" class="icon"><fa-icon [icon]="faArchiv" class="fa-lg"></fa-icon></a>
        <a routerLink="/option" class="icon"><fa-icon [icon]="faCogs" class="fa-lg"></fa-icon></a>
        

        <!-- <a routerLink="/option"><fa-icon [icon]="faBars"></fa-icon></a> -->

    </div>
</div>