.box{
    display: flex;
    /* flex-grow: 2; */
    /* justify-content: flex-end; */
    /* background-color: var(--secondary-color); */
    background-color: var(--header-color);
    border-bottom: 1px solid var(--border-color);

  /* height: 200px; */

}

.push {
    margin-left: auto;
}

.buttonOwn{
    margin: 5px;
}

.brand{
    display: inherit;
    margin-left: 2%;
    font-size: 3vmax;
    font-weight: bold;
    align-items: center;
    color: var(--brand-color);
    font-family:monospace;
}

.iconBox{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 5px;

}

.brandLink{
    color: var(--brand-color);
    text-decoration: none;

}
.icon{
    padding: 5px;
    border-radius: 5px;
    /* align-items: center; */
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    color : var(--icon-color);
    /* background-color: var(--primary-color); */
    background-color: var(--icon-bg-color);

}
