.box{
    display: flex;
    /* justify-content: flex-end; */
    background-color: var(--secondary-color);
  /* height: 200px; */

}

.push {
    margin-left: auto;
}

.buttonOwn{
    margin: 5px;
}

.brand{
    display: inherit;
    margin-left: 2%;
    font-size: 3vmax;
    font-weight: bold;
    align-items: center;
    color: white;
    font-family:monospace;
}

.iconBox{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 5px;

}
.icon{
    padding: 5px;
    border-radius: 5px;
    /* align-items: center; */
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    color : white;
    background-color: var(--primary-color);
}
