<div class="all">
    <div>
    <h2>Willkommen!</h2>
</div>
    <div style="text-align: center;">
        Starte eine neue Röstung oder wirf einen Blick in das Archiv!
    </div>
    <!-- <div class="start"> -->
        <div class="buttonDiv">
        <a routerLink="/roasting" class="icon"><fa-icon [icon]="faCoffee" class="fa-3x">
        </fa-icon>
        Neue Röstung</a>
        <a routerLink="/archiv" class="icon"><fa-icon [icon]="faArchiv" class="fa-3x">
        </fa-icon>
        Archiv</a>
    </div>
    <!-- </div> -->
</div>
