<div class="start">
<div class="all">
    <!-- <div style="display:flex; 
    flex-direction:row;
    justify-content:center; 
    align-items: center;
    flex-wrap: wrap;"> -->
    <div >
        <img src="assets/RoastieLogo.svg" alt="Logo" class="plant">
        <!-- <div style="margin-bottom: -80px;" >
            <img src="assets/coffeePlantTop.svg" alt="" class="plant">
        </div>
        <p class="brand" style="margin-left: -15px;">R o a s t i e</p>

        <div style="margin-top: -90px; margin-bottom:-40px;" >
            <img src="assets/coffeePlantBottom.svg" alt="" class="plant">
        </div> -->
    </div>
        <!-- </div>
        <div> -->
        <!-- <div  style="margin-left: 10px;">
            <div class="brand">
                Roastie
            </div>
        </div> -->
<!-- </div> -->
    
    <!-- <div class="start"> -->
    <div class="buttonDiv">
        <a routerLink="/roasting" class="icon"><fa-icon [icon]="faCoffee" class="fa-3x">
        </fa-icon>
        Röstung</a>
        <a routerLink="/archiv" class="icon"><fa-icon [icon]="faArchiv" class="fa-3x">
        </fa-icon>
        Archiv</a>
    </div>
    <!-- </div> -->
</div>
</div>
