<div class="para">
    <div class="boxH">
        <div class="boxV">
            <div>
                <label for="name">Name:</label>
                <input type="text" placeholder="Name" class="inputOwn" id="name">
            </div>
            <div>
                <label for="duration">Dauer: </label>
                <input type="number" placeholder="Gesamtdauer [min]" class="inputOwn" id="duration">
            </div>
        </div>
        <div class="push">
            <div class="boxV">
                <button class="btn btn-dark btnOwn" (click)="markEvent()" *ngIf="buttonLabel != 'Ende'">{{buttonLabel}}</button>
                <button class="btn btn-dark btnOwn" (click)="reverseMarkEvent()" *ngIf="buttonLabel != 'Markieren'">Markierung rückgängig</button>

                <button class="btn btn-dark btnOwn">Aktualisiere</button>
            </div>
            
        </div>
    </div>
</div>
