<button 
        class="btn btn-dark" 
        style="background-color: var(--icon-bg-color);color: whitesmoke;"
        data-toggle="modal" data-target="#modal">Speichern</button>

<div id="modal" class="modal fade" data-backdrop="true" >
    
<div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color: var(--bg-color);">
        <div class="modal-header" style="margin: auto;">
            <h1 class="modal-title">Wie war die Röstung?</h1>
        </div>
        <div class="modal-body">
            <form role="form" method="POST" action="">

                <div style="display: flex; flex-direction: row; justify-content: center;">
                    <br>
                    <div *ngFor="let i of ratingBool" style="width:10%; cursor:pointer;">
                        <app-rating-item [isRated]="i"></app-rating-item>
                    </div>
                </div>
                <br>

                <div class="form-group">
                    <label for="fname">Name der Röstung:</label><br>
                    <input type="text" id="fname" name="fname" class="textInput"><br>
                </div>
                <div class="form-group">
                    <label for="fbean">Bohne:</label><br>
                    <input type="text" id="fbean" name="fbean" class="textInput"><br>
                </div>
                 <div class="form-group">
                    <label  for="fcomment">Kommentare:</label><br>
                    <textarea name="fcomment" id="fcomment" class="textInput"></textarea>
                </div>       
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
                    <button type="button" class="btn btn-dark">Speichern</button>
                  </div>
            </form>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div>
