<div class="info">
    <div class="buttonDiv">
        <button (click)="startTimer()" style="background-color: var(--run-color);" class="btn btn-success buttonOwn"><fa-icon [icon]="faPlay" class="fa-lg"></fa-icon></button>
        <button (click)="endTimer()" style="background-color: var(--stop-color);" class="btn btn-danger buttonOwn"><fa-icon [icon]="faStop" class="fa-lg"></fa-icon></button>
        <button (click)="resetTimer()" class="btn btn-dark buttonOwn"><fa-icon [icon]="faReset" class="fa-lg"></fa-icon></button>

    </div>

    <!-- <div class="timeDisplay"> -->
        <div class="boxH">
        <div class="boxH-item iconDiv">
            <fa-icon [icon]="faTime" class="fa-lg"></fa-icon>
        </div>
        <div class="boxH-item dataDiv">
            <b>{{time}}</b>
        </div>
    </div>
    <!-- </div> -->
    <!-- <div class="timeDisplay">
            <div class="iconDiv">
                <fa-icon [icon]="faTime" class="fa-lg"></fa-icon>
            </div>
            <div class="dynText" *ngIf="time">
                <b>{{time}}</b>
            </div>
    </div> -->
    <div class="boxH">
        <div class="boxH-item iconDiv">
            <fa-icon [icon]="faTemp" class="fa-lg"></fa-icon>
        </div>
        <div class="boxH-item dataDiv">
            <b>{{temperature}} [°C]</b>
        </div>
    </div>

    <!-- <div class="timeDisplay">
        <div class="iconDiv">
            <fa-icon [icon]="faTemp" class="fa-lg"></fa-icon>
        </div>
        <div class="dynText" *ngIf="temperature">
            <b> {{temperature}} [°C] </b>
        </div>            
    </div> -->

    <div class="boxV">
        <div class="boxH-combine">
        <div class="boxH-item iconDiv">
            <fa-icon [icon]="faChart" class="fa-lg"></fa-icon>
        </div>
        <div class="boxH-item dataDiv">
            <b>{{akGradient}} [°C/s] </b>
        </div>
        </div>
        <div class="boxH-combine">
        <div class="boxH-item iconDiv">
            Max.
        </div>
        <div class="boxH-item dataDiv">
            <b>{{maxGradientString}} [°C/s]</b>
        </div>
        </div>

        <div class="boxH-combine">

        <div class="boxH-item iconDiv">
            {{Omega}}  
        </div>
        <div class="boxH-item dataDiv">
            <b>{{midGradient}} [°C/s]</b>
        </div>
    </div>


    </div>

    <!-- <div style="display: flex; 
    flex-direction: column; 
    width:90%; 
    border: 3px solid white;
    margin: 5%;
    border-radius: 5px;">
        <div class="timeDisplayCombine" style="border-bottom: 3px solid white"> 
            <div class="iconDiv">
                <fa-icon [icon]="faChart" class="fa-lg"></fa-icon>
            </div>
            <div class="dynText" *ngIf="akGradient">
                <b> {{akGradient}} [°C/s] </b>
            </div>
        </div>
        <div class="timeDisplayCombine">
            <div class="iconDiv dynText" style="color: lightgray">
                Max.
            </div>
            <div class="dynText" style=" width:70%;" *ngIf="akGradient">
                <b> {{maxGradientString}} [°C/s] </b>
            </div>
        </div>
        <div class="timeDisplayCombine">
            <div class="iconDiv dynText" style="color: lightgray">
                {{Omega}}            
            </div>
            <div class="dynText" style=" width:70%;" *ngIf="akGradient">
                <b> {{midGradient}} [°C/s] </b>
            </div>
        </div>
    </div>
</div> -->
    <!-- <div class="timeDisplay">
        <p class="dynText">Mean Gradient: <br>
            <b>{{midGradient}} [°C/s] </b>
        </p>
    </div> -->

<!-- </div> -->
