<div class="archiv">
    <h2>Archiv</h2>
    <hr>
    <div class="boxH">
        <div style="width:70%; overflow-y: auto;">
            <div style="display:flex;flex-direction: column;" 
                *ngFor="let item of archivList; let i = index;">
                <app-archiv-item [archivItem]="item" (itemEvent)="handleItemEvent($event,i)"></app-archiv-item>
            </div>
        </div>
        <div
        *ngIf="archivList?.length>0" 
        style="width:30%; margin-right: 2%;">
            <app-archiv-detail [archivItem]="currentItem"></app-archiv-detail>
        </div>
    </div>
</div>

