/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flexRowCC{ /*flex display ordered in row and centered on both axes*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flexColCC{ /*flex display ordered in column and centered on both axes*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

:root{
    --primary-color: #224;
    --secondary-color: #336;

    --bg-color: #dfd3c3;
    --item-bg-color: #cbaf87;
    --brand-color: #333;
    /* --brand-color: #493323; */
    --run-color: #9dad7f;
    --stop-color:#bb5a5a;
    
    --text-color: black;
    --border-color: black;

    --header-color: #cbaf87;
    --icon-bg-color:  #333;
    --icon-color: #efe3d3;
}
