.archivDetail{
    /* border-left: 3px solid black; */
    color: white;
    background-color: var(--secondary-color);
    height:100%;
    width: 100%;
    border-radius: 5px;
    /* padding-left: 10px; */
}
  
  .boxH{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    /* background-color: honeydew; */
  }

.boxV{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}
.boxHitem{
  margin:5%;
}
.boxItem{
  margin-bottom: 5%;
}

.rating{
  /* vertical-align: middle;
  background-color:skyblue;
  padding: 2px; */
}