<div class="archivDetail">
    <h3>Details:</h3>
    <hr>
    <div style="display: flex; flex-direction: column; justify-content: flex-start; margin-bottom: 5%;">
        <h4>{{archivItem.name}}</h4>
        <div> {{archivItem.dateTime.toLocaleString()}} </div>
    </div>

    <div class="boxV">
        <div class="boxItem" style="width:80%; height: 30%;">
            <app-simple-graph [archivItem] = "archivItem"></app-simple-graph>
        </div>

        <div class="boxItem" style="display: flex; flex-direction: row; justify-content: center;width: 60%;">
            <div *ngFor="let i of ratingBool" class="rating">
            <app-rating-item [isRated]="i"></app-rating-item>   
            </div>
        </div>

        <div class="boxH flexRowCC">
            <div class="boxHitem"><b> Bohne: </b></div>
            <div class="boxHitem">{{archivItem.bean}}</div>
        </div>
                        
        <div><b>Kommentare:</b></div>
        <div class="boxItem">
            {{archivItem.comments}}
        </div>
    </div>
</div>

