<div class="archivDetail">
    <h3>Details:</h3>
    <hr>
    <div class="boxV">
    <div class="boxItem" style="width:80%; height: 30%; ">
        <!-- display: flex;
    flex-direction: row; justify-content: center; -->
        <app-simple-graph [archivItem] = "archivItem"></app-simple-graph>
    </div>

    <div class="boxItem" style="display: flex; flex-direction: row; justify-content: center;width: 60%">
        <div *ngFor="let i of ratingBool">
           
                <app-rating-item [isRated]="i"></app-rating-item>
           
        </div>
    </div>

    <div class="boxItem">
        <table>
            <tr>
            <td>Datum:</td>
            <td>{{archivItem.dateTime.toLocaleString()}}</td>
            </tr>
            <tr>
            <td>Bohne:</td>
            <td>{{archivItem.bean}}</td>
            </tr>
      </table>
    </div>
    <div class="boxItem">
        {{archivItem.comments}}
    </div>
</div>


</div>

